{% extends 'base.html' %}
{% load static %}

{% block title %} {{data.name|capfirst}} {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'basics/index.css' %}"> {% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
<script src="{% static 'basics/index.js' %}"></script>
{% endblock %}

{% block content %}
<h1 id="pokemon-title">{{data.name|capfirst}}</h1>

<div class="d-flex flex-column flex-md-row align-items-center">
    <img src="{{data.sprite}}" alt="Sprite" id="pokemon-image" class="mr-0 mr-md-4">

    <div class="ml-0 ml-md-4">
        <h2 class="subtitle text-center mb-3">Types</h2>
        <div class="pb-2 pb-md-4 text-center">
            {% for type in data.types %}
            <span class="type type-{{type.name}}">{{type.name|upper}}</span>
            {% endfor %}
        </div>

        <h2 class="subtitle text-center mb-0 pt-4">Abilities</h2>
        <div>
            {% for ability in data.abilities %}
            <p class="my-0 my-md-1 text-center">{{ability.name|capfirst}} {% if ability.is_hidden %}(hidden){% endif %}</p>
            {% endfor %}
        </div>
    </div>
</div>

<h2 class="subtitle text-center mb-0 pt-4">Stats</h2>
<div id="canvas-container">
    {% for name, value in data.stats %}
    <p class="d-none" id="{{name}}">{{value}}</p>
    {% endfor %}

    <canvas id="stats-chart" height="150"></canvas>
    <p class="ml-4" id="total-stats"></p>
</div>

<h2 class="subtitle text-center">
    <a class="link" href="{% url 'moves' name=data.name %}">{{data.name|capfirst}} moves</a>
</h2>
{% endblock %}