{% extends 'base.html' %}
{% load static %}

{% block title %} {{data.name|capfirst}} moves {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'basics/moves.css' %}"> {% endblock %}
{% block script %} <script src="{% static 'basics/moves.js' %}"></script> {% endblock %}

{% block content %}
<h1 id="pokemon-title">
    <a class="link" href="{% url 'pokemon' name=data.name %}">{{data.name|capfirst}}</a> moves
</h1>

<!-- Generation buttons -->
<div class="d-flex flex-wrap justify-content-center mb-3">
    {% for gen, moves in data.moves %}
    {% if moves.level_up or moves.egg or moves.machine or moves.tutor %}
    <button class="mx-3 my-1 my-md-0 gen-buttons" id="btn-{{gen}}">Gen {{gen|make_list|last}}</button>
    {% endif %}
    {% endfor %}
</div>

<h2 class="subtitle text-center" id="gen-title">Generation 1</h2>

{% for gen, moves in data.moves %}
{% if moves.level_up or moves.egg or moves.machine or moves.tutor %}
<div id="{{gen}}" class="gen-tables d-none">
    <button class="btn btn-primary dropdown-toggle mb-2" type="button" id="btn-{{gen}}-levelup">Level up</button>
    <table class="table table-hover text-center" id="{{gen}}-levelup">
        <thead>
            <tr>
                <th class="text-left">Name</th>
                <th>Level</th>
                <th>Power</th>
                <th>Type</th>
                <th>Category</th>
                <th>Accuracy</th>
                <th>PP</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves.level_up|dictsort:"level" %}
            <tr>
                <td class="text-left">{{move.name}}</td>
                <td class="align-middle">{{move.level}}</td>
                <td class="align-middle">{% if move.power %}{{move.power}} {% else %} --- {% endif %}</td>
                <td class="align-middle"><span class="type type-{{move.type}}">{{move.type|upper}}</span></td>
                <td class="align-middle"><img class="category-images" src="{% static move.category|add:'.png' %}" alt="{{move.category|capfirst}}"></td>
                <td class="align-middle">{% if move.accuracy %}{{move.accuracy}} {% else %} --- {% endif %}</td>
                <td class="align-middle">{{move.pp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if moves.machine %}
    <button class="d-block btn btn-primary dropdown-toggle mb-2" type="button" id="btn-{{gen}}-machine">Machine</button>
    <table class="table table-hover text-center"id="{{gen}}-machine">
        <thead>
            <tr>
                    
                <th class="text-left">Name</th>
                <th>Power</th>
                <th>Type</th>
                <th>Category</th>
                <th>Accuracy</th>
                <th>PP</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves.machine|dictsort:"name" %}
            <tr>
                <td class="text-left">{{move.name}}</td>
                <td class="align-middle">{% if move.power %}{{move.power}} {% else %} --- {% endif %}</td>
                <td class="align-middle"><span class="type type-{{move.type}}">{{move.type|upper}}</span></td>
                <td class="align-middle"><img class="category-images" src="{% static move.category|add:'.png' %}" alt="{{move.category|capfirst}}"></td>
                <td class="align-middle">{% if move.accuracy %}{{move.accuracy}} {% else %} --- {% endif %}</td>
                <td class="align-middle">{{move.pp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if moves.egg %}
    <button class="d-block btn btn-primary dropdown-toggle mb-2" type="button" id="btn-{{gen}}-egg">Egg</button>
    <table class="table table-hover text-center"id="{{gen}}-egg">
        <thead>
            <tr>
                    
                <th class="text-left">Name</th>
                <th>Power</th>
                <th>Type</th>
                <th>Category</th>
                <th>Accuracy</th>
                <th>PP</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves.egg|dictsort:"name" %}
            <tr>
                <td class="text-left">{{move.name}}</td>
                <td class="align-middle">{% if move.power %}{{move.power}} {% else %} --- {% endif %}</td>
                <td class="align-middle"><span class="type type-{{move.type}}">{{move.type|upper}}</span></td>
                <td class="align-middle"><img class="category-images" src="{% static move.category|add:'.png' %}" alt="{{move.category|capfirst}}"></td>
                <td class="align-middle">{% if move.accuracy %}{{move.accuracy}} {% else %} --- {% endif %}</td>
                <td class="align-middle">{{move.pp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if moves.tutor %}
    <button class="d-block btn btn-primary dropdown-toggle mb-2" type="button" id="btn-{{gen}}-tutor">Tutor</button>
    <table class="table table-hover text-center" id="{{gen}}-tutor">
        <thead>
            <tr>
                    
                <th class="text-left">Name</th>
                <th>Power</th>
                <th>Type</th>
                <th>Category</th>
                <th>Accuracy</th>
                <th>PP</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves.tutor %}
            <tr>
                <td class="text-left">{{move.name}}</td>
                <td class="align-middle">{% if move.power %}{{move.power}} {% else %} --- {% endif %}</td>
                <td class="align-middle"><span class="type type-{{move.type}}">{{move.type|upper}}</span></td>
                <td class="align-middle"><img class="category-images" src="{% static move.category|add:'.png' %}" alt="{{move.category|capfirst}}"></td>
                <td class="align-middle">{% if move.accuracy %}{{move.accuracy}} {% else %} --- {% endif %}</td>
                <td class="align-middle">{{move.pp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endif %}
{% endfor %}
{% endblock %}